body {
    margin: 0 auto;
    width: 50%;
    font-family: 'Noto Sans JP', sans-serif;
}
.container {
    width: 450px;
    height: 400px;
    margin-top: 80px;
    text-align: center;
}

input {
    width: 300px;
    height: 46px;
    border-radius: 5px;
    font-size: 25px;
    outline: none;
    border: 1px solid rgb(214, 215, 216);
    background-color: rgb(240, 240, 240);
    padding: 8px;
}
.form-control {
    display: flex;
}
.input-field {
    display: flex;
}

.btn-primary {
    padding: 18px 25px;
    border-radius: 5px;
    margin: 0 50px 0 10px;
    outline: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
.todo-container {
    margin-top: 25px;
}

.paragraph-styling {
    margin: 20px;
    cursor: pointer;
    font-size: 25px;
}

.success {
    margin: 5px;
    padding: 20x;
    width: 50%;
    background-color: rgba(40, 150, 40, 0.5);
    color: white;
}
.danger {
    margin: 5px;
    padding: 20x;
    width: 50%;
    background-color: rgba(139, 49, 49, 0.7);
    color: white;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
    }
    .container {
        width: 80%;
        margin-left: 10px;
    }
    .form-control {
        display: flex;
        flex-direction: column;
    }
    .input-filter {
        margin-top: 10px;
    }
    input {
        width: 90%;
    }
    .btn-primary {
        margin: 0;
    }
}
